@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar-boards">
        @{Html.RenderAction("SubList", "Menu");}
    </div>
    <div class="navbar navbar-main">
        <div class="container">
            <div class="navbar-header">
                <div class="logo">
                    @Html.ActionLink("illium", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
            </div>
            <div class="nav container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Горячее", "Index", "Home")</li>
                    <li>@Html.ActionLink("Свежее", "New", "Home")</li>
                    <li>@Html.ActionLink("Лучшее", "Top", "Home")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav navbar-nav" }))
                        {
                         @Html.AntiForgeryToken()
                        <li>
                            <a title="Manage" href="@Url.Action("Index", "Manage", routeValues: null)">
                                <span class="glyphicon glyphicon-user"></span> @User.Identity.GetUserName()
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="javascript:document.getElementById('logoutForm').submit()">
                                <span class="glyphicon glyphicon-log-out"></span> Выход
                            </a>
                        </li>
                        }

                    }
                    else
                    {
                    <li>
                        <a href="@Url.Action("Login", "Account")">
                            <span class="glyphicon glyphicon-home"></span>
                            Вход
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>


    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year – Illium Inc.</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mainbundle")
    @RenderSection("scripts", required: false)
</body>
</html>

